.header {
    margin-bottom: 126px;
}

.header_inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 252px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header_container{
    display: flex;
    flex-direction: row;
}

.logo {
    width: 107px;
    height: 62px;
}

.header_btn_wrapper {
    height: 40px;
    width: 280px;
    top: 2px;
    margin-left: 78px;
}

.burger__wrapper {
    display: none;
}

.title {
    margin-top: -85px;
}

.icon_dot {
    color: #000;
}


.btn {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #3482C6;
    width: 208px;
    height: 38px;
    border: 0;
    
}

.btn:hover {
    box-shadow: 0px 0px 20px rgba(52, 130, 198, 0.4);
}

.second {
    margin-bottom: 45px;
}

.adress {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 250px;
}

.icon_dot {
    margin-right: 14px;
}

.phone_wrapper {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    padding-left: 100px;
}

.nav {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}

.nav_item-link {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-right: 83px;
}

.main_title {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;
    padding-bottom: 40px;
}

.sub_text {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.sub_text_wrapper {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    font-style: normal;
    margin-top: 15px;
}
.second {
    padding-top: 10px;
}

.main_wrapper {
    margin-left: 215px;
}

.btn {
    font-family: 'Noto Sans';
}

.title_item {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.text_color {
    color: #18a0fb;
}

/* слайдер */

.slider_wrapper_one {
    overflow: hidden;
}

.slider-container {
    margin-top: -334px;
    margin-left: 832px;
    overflow: hidden;
}

.img_slider {
    width: 557px;
    height: 326px;
    text-align: center;
}

.slider-buttons {
    display: flex;
}

.swiper-button-prev {
    position: absolute;
    background-image: url(../icons/arrowL.svg) 0 0 no-repeat;
    margin-right: 10px; 
    background-color: none;
    border: none;
    /* background-position: center; */
    width: 20px;
    height: 20px;

    /* background-size: 20px 20px; */
    margin-right: 50px;
}

.swiper-button-next {
    position: absolute;
    background-image: url(../icons/arrowR.svg)  0 0 no-repeat;
	margin-left: 200px;
    background-color: none;
    width: 20px;
    height: 20px;
    border: none;
    background-position: center;
    background-size: 20px 20px;
    margin-right: 130px;
}

.swiper-container {
	padding-bottom: 50px;
}

.swiper_pagination {
    padding-left: 60px;
    margin-left: 30px;
}

.slider_img_title {
    padding-right: 16px;
    max-width: 100%;
    max-height:  100%;
}

.text_slide {
    text-align: center;
}

/* второй слайдер */

.slider-container_one {
    overflow: hidden;
    width: 100%;
    margin-top: 100px;
}

.swiper-wrapper_one {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: -100px;
}

.card_one {
    flex-shrink: 0;
}

.swiper-pagination_one {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    border-radius: 0px;
    width: 15px;
    height: 15px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.slider_title_one {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    text-transform: uppercase;
    padding-bottom: 100px;
    margin-left: 680px;
}

.slider_title_two {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

/* третий слайдер */

.line_title_two::before {
    content: '';
    position: absolute;
    width: 671px;
    height: 3px;
    left: 850px;
    background-color: #3482C6;
    margin-top: 13px;
}

.slider_title_three {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.line_title_three::before {
    content: '';
    position: absolute;
    width: 650px;
    height: 3px;
    background-color: #3482C6;
    margin-top: 13px;
}

.line_title_threeF::before {
    content: '';
    width: 590px;
    position: absolute;
    height: 3px;
    background-color: #3482C6;
    margin-top: 13px;
}


/* пятый слайдер */

.line_title_sale {
    content: '';
    position: absolute;
    width: 771px;
    height: 3px;
    left: 822px;
    background-color: #3482C6;
    margin-top: 110px;
}

.slider_title_sale {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 63px;
    margin-top: 100px;
}

.img_slider_one {
    margin-left: 196px;
    margin-top: 60px;
}

.swiper-pagination_one {
    text-align: center;
}

.line_title_four::before {
    content: '';
    position: absolute;
    width: 671px;
    height: 3px;
    left: 860px;
    background-color: #3482C6;
    margin-top: 15px;
}

/* слайдеры новостей и отзывов */

.news {
    margin-top: 100px;
}

.slider_title_news {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    text-transform: uppercase;
    text-align: center;
}

.line_title_news {
    content: "";
    position: absolute;
    width: 650px;
    height: 3px;
    background-color: rgb(52, 130, 198);
    margin-top: 13px;
}

.slider-container_app {
    margin-left: 66px;
}

.news__sub__title {
    font-family: 'TacticSans-Reg';
    font-style: bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-top: 48px;
    margin-bottom: 20px;
}

.news__cont {
    padding-bottom: 15px;
}

.slider-container_app {
    overflow: hidden;
    width: 100%;
}

.swiper-wrapper_app {
    display: flex;
}

.swiper-slide_app {
    flex-shrink: 0;
}

.feedback {
    margin-top: 100px;
}

.slider_title_feedback {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.line_title_feeaback {
    content: '';
    position: absolute;
    width: 981px;
    height: 3px;
    left: 825px;
    background-color: #3482C6;
    margin-top: 13px;
}

.feedback_sub-title {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    font-style: bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.feedback_head {
    display: flex;
}

.feedback_text {
    margin-top: 31px;
    margin-bottom: 100px;
}

/* слайдеры закончились */

.news_img {
    max-width: 378px;
    max-height: 378px;
}

.card {
    width: 557px;
    height: 326px;
}


.sub_title {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 40px;
}

.field {
    padding-left: 30px;
    padding-top: 15px;
    display: inline-block;
}

.input__traid-in{
    width: 524px;
    height: 45px;   
    background: #FFFFFF;
    border: 1px solid rgba(52, 130, 198, 0.05);
    box-sizing: border-box;
    box-shadow: 4px 6px 10px rgba(110, 185, 241, 0.1);
    border-radius: 5px;
    padding-left: 10px;
}

.checkbox {
    padding-top: 15px;
    padding-left: 320px;
}

.traid__btn {
    width: 312px;
    height: 57px;
    margin-top: 55px;
    margin-left: 136px;
}

.credit__btn {
    width: 312px;
    height: 57px;
    margin-top: 55px;
    margin-left: 136px;
}

.form_wrapper {
    display: flex;
    align-items: center;
}

.form_traid-in {
    margin-left: 160px;
    margin-top: 130px;
    width: 584px;
    height: 600px;
    top: 808px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.credit_calc {
    margin-left: 20px;
    margin-top: 130px;
    width: 584px;
    height: 600px;
    top: 808px;
    background: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.credit_calc_adapt {
    display: none;
}

.input_inner {
    opacity: 0.5;
}

.title_item {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}

.sub_text_desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

/* аккордион */

.equip {
    margin-top: 100px;
}

.equipment_to_title {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    display: flex;
    align-items: center;
    margin-left: 188px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.equipment_item_comp {
    margin-right: 53px;
}

.equipment_item_price {
    margin-right: 69px;
}

.equipment_item_price_adapt {
    display: none;
}

.equipment_item_new_adapt {
    display: none;
}

.equipment_item_model {
    margin-right: 85px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    
}
.equipment_item_old_price {
    margin-right: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration-line: line-through;
}

.equipment_item_new_price {
    margin-right: 105px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.equipment_item_credit_price {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 55px;
    color: #3482C6;
}

.accordion__control {
	background-color: transparent;
	cursor: pointer;
    border: none;
    margin-bottom: -35px;
}

.equipment_title_two {
    margin-left: 135px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(52, 130, 198, 0.1);
    background: #F8FAFD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 20px;
}

.accordion__content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0 20px;
	will-change: max-height;
	transition: all 0.3s ease-out;
	box-sizing: content-box;
}

.accordion__title {
	font-weight: bold;
	font-size: 1.17em;
}

.accordion__icon {
    margin-right: 10px;
	transition: transform 0.3s ease-out;
}

.equipment_item_credit_btn {
    height: 41px;
    width: 208px;
    padding-top: 10px;
    color: #fff;
    border-radius: 0px;
    background: #3482C6;
    box-shadow: 0px 0px 20px rgba(52, 130, 198, 0.4);
    cursor: pointer;
}

.open .accordion__icon {
	transform: rotate(180deg);
}

.open .accordion__content {
	opacity: 1;
}

.accordion__icon_adapt {
    display: none;
}

/* стили контента аккордеона */

.save_title {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    margin-left: 288px;
    padding: 17px;
}

.save {
    margin-left: 288px;
    padding: 17px;
}

.design_title {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    margin-left: 288px;
    padding: 17px;
}

.design {
    margin-left: 288px;
    padding: 17px;
}

.comfort_title {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    margin-left: 288px;
    padding: 17px;
}

.comfort {
    margin-left: 17px;
}

.comfort_item{
    margin-left: 288px;
}

.equipment_item_adapt {
    display: none;
}

/* стили кнопки аккордеона */

.estimate_btn__js {
    margin-top: 55px;
    margin-left: 643px;
    position: absolute;
}

/* попап тест драйв */

.popup {
    display: none;
    height: 547px;
    width: 716px;
    top: 100px;
    position: fixed;
    margin-left: 420px;
    border-radius: 10px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
}

.open_popup_js {
    position: absolute;
    margin-left: 70px;
}

.popup_cont {
    margin-top: -30px;
}

.popup_open {
    display: block;
    z-index: 10;
}

.field_name  {
    margin-left: 100px;
    z-index: 10;
}

.field_phone {
    margin-top: 15px;
    margin-left: 100px;
    z-index: 10;
}

.popup_drive {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    margin-left: 200px;
    padding-top: 30px;
    margin-bottom: 70px;
    z-index: 10;
}

.input__popup {
    display: block;
    width: 524px;
    height: 45px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(52, 130, 198, 0.05);
    box-sizing: border-box;
    box-shadow: rgb(110 185 241 / 10%) 4px 6px 10px;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    z-index: 10;
}

.label__popup {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    z-index: 10;
}

.field_calendar {
    margin-top: 15px;
    margin-left: 100px;
    z-index: 10;
}

.popup__btn {
    width: 312px;
    height: 57px;
    margin-top: 25px;    
    margin-left: 200px;
    z-index: 10;
}

.popup_drive__btn { 
    width: 19px;
    height: 19px;
    background-color: transparent;
    background-image: url(../icons/X.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-left: 669px;
    padding-bottom: 27px;
    z-index: 10;
}

.popup_drive__btn:hover {
    opacity: .5;
    z-index: 10;
}

.popup_drive__btn:focus {
    opacity: .3;
    z-index: 10;
}

.popup_overlay {
    display: none;
    background: #3482C6;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.popup_overlay.join {
    display: block;
    z-index: 10;
}

.checkbox_popup {
    margin-left: 400px;
    margin-top: 20px;
}

/* попап для заявки */


/* скрытый попап */
.estimate {
    display: none;
    Width: 716px;
    Height: 672px;
    top: 50px;
    position: fixed;
    margin-left: 420px;
    border-radius: 10px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
}
 /* заголовок попапа */
.popup_request {
    font-family: 'TacticSans-Reg';
    src: url(../fonts/TacticSans-Reg.otf);
    margin-left: 255px;
}

/* кнопка закрытия попапа */
.popup_request__btn {
    width: 19px;
    height: 19px;
    background-color: transparent;
    background-image: url(../icons/X.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-left: 669px;
    padding-bottom: 27px;
    z-index: 10;
    cursor: pointer;
}


/* кнопка отправки отступ вниз */
.popup_request {
    margin-bottom: 90px;
}

/* размытие кнопки закрытия */
.popup_request__btn:hover {
    opacity: .5;
    z-index: 10;
}

/* класс открытия попапа в js */
.estimate_open {
    display: block;
    z-index: 50;
}

/* эффект нажатия на кнопку закрытия */
.popup_request__btn:focus {
    opacity: .3;
    z-index: 10;
}

/* расположение кнопки отправки на попапе */
.popup_req__js {
    margin-top: 10px;
    margin-left: 245px;
}

/* стили для заголовка формы с текстом */
.field_est {
    margin-top: 15px;
    margin-left: 100px;
}

/* стили для формы текста в попапе */
.input__est {
    width: 524px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(52, 130, 198, 0.05);
    box-sizing: border-box;
    box-shadow: rgb(110 185 241 / 10%) 4px 6px 10px;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}





@media (min-width:344px) and (max-width: 1023px) {
    .header {
        margin-bottom: 50px;
    }

    .header_inner {
        margin-left: 0px;
    }

    .company_logo_wrapper {
        margin-right: -193px;
    }

    .company_logo {
        width: 100%;
        width: 88px;
        height: 51px;
    }

    .menu__item {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: visible;
        pointer-events: none;
        transition: all 0,3 ease 0s;
    }

    .burger__wrapper {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover; 
    }
      
      .wrapper__checkbox {
        display: none; }
      
      .wrapper__checkbox:checked ~ .wrapper__menu {
        right: -30px;
    }
      
      .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px; 
    }
      
      .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(2) {
        opacity: 0; }
      
      .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -6px; }
      
      .wrapper__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #3482C6;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1; }
      
      .wrapper__button-line {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background: #FFFFFF;
        margin: 2px 0;
        position: relative;
        -webkit-transition: all .1s linear 0.2s;
        -o-transition: all .1s linear 0.2s;
        transition: all .1s linear 0.2s; }
      
      .wrapper__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 282px;
        height: 500px;
        background: rgba(0, 0, 0, 0.8);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding: 100px 40px 40px;
        -webkit-transition: right 0.4s;
        -o-transition: right 0.4s;
        transition: right 0.4s;
        border-bottom-left-radius: 220px; 
        margin-right: 22px;
    }
      
      .wrapper__menu-link {
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 30px;
        padding: 5px 10px;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; 
    }
        .wrapper__menu-link:hover {
          padding-right: 20px; 
        }
      

    .header_btn_wrapper {
        margin-left: 38px;
    }

    .adress {
        display: none;
    }
    
    .phone_wrapper {
        margin-left: 20px;
        margin-top: -50px;
    }

    .icon_dot {
        margin-right: 0;
    }

    .nav {
        padding-left: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .nav_item-link {
        font-size: 10px;
        margin-right: 12px;
    }
    .main_wrapper {
        margin-left: 12px;
    }
    .main_title {
        font-size: 42px;
        margin-top: 40px;
    }
    .sub_text {
        font-size: 24px;
        line-height: 29px;
    }

    .slider-container {
        margin-left: 10px;
        margin-top: 8px;
    }

    .img_slider {
        width: 358.8px;
        height: 210px;
    }

    .swiper_pagination {
        margin-left: 0;
        padding-left: 40px;
    }

    .slider_img_title {
        padding-right: 3px;
    }
    
    .slider-container_four {
        margin-top: 60px;
    }

    .line_title_four::before {
        margin-top: 54px;
    }

    .form_traid-in {
        margin-top: 130px;
        width: 335px;
        margin-left: 15px;
        height: 520px;
    }

    .popup {
        position: fixed;
        margin-left: 10px;
        width: 353px;
    }

    .popup_drive {
        margin-left: 25px;
    }

    .popup_drive__btn {
        margin-left: 315px;
    }

    .popup__btn {
        margin-left: 20px;
    }

    .input__popup {
        width: 300px;
        padding-left: 11px;
    }

    .input__est {
        padding-left: 11px;
    }

    .field_name,
    .field_phone,
    .field_calendar {
        margin-left: 25px;
    }

    .checkbox_popup {
        margin-top: -85px;
    }

    .open_popup_js {
        position: absolute;
        margin-top: 320px;
        margin-left: 70px;
    }

    .credit_calc {
        display: none;
        width: 330px;
        height: 525px;
    }

    .credit_calc_adapt {
        display: block;
        margin-top: 150px;
        margin-left: 20px;
        margin-top: 130px;
        width: 335px;
        height: 555px;
        top: 808px;
        background: #F8FAFD;
        border: 1px solid rgba(52, 130, 198, 0.1);
        box-sizing: border-box;
        border-radius: 10px;
    }

    .traid__btn {
        width: 300px;
        height: 45px;
        margin-left: 15px;
    }

    .sub_title {
        font-size: 18px;
        line-height: 22px;
        padding-top: 25px;
    }
 
    .label__traid-in {
        font-size: 12px;
        line-height: 16px;
    }

    .input__traid-in {
        width: 270px;
        padding-left: 11px;
    }

    .checkbox {
        padding-left: 100px;
    }
    
    .checkbox__label {
        font-size: 14px;
        line-height: 19px;
    }

    .credit__btn {
        width: 300px;
        height: 50px;
        margin-top: 30px;
        margin-left: 13px;
    }

    .slider_wrapper_one {
        margin-top: 70px;
    }

    .line_title_two::before {
        width: 92px;
        left: 290px;
        margin-top: 64px;
    }

    .line_title_three::before {
        width: 80px;
    }

    .slider_title_one {
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        margin-left: 45px;
        padding-bottom: 30px;
        margin-bottom: 35px;
    }

    .slider_title_two {
        margin-top: 50px;
        font-size: 30px;
        line-height: 36px;
    }

    .slider_title_three {
        font-size: 30px;
        line-height: 36px;
        margin-top: 50px;
    }

    .slider-buttons_one {
        display: none;
    }

    .img_slider_one {
        width: 414px;
        height: 267px;
        margin-left: 0px;
    }
    
    .text_slide {
        font-size: 12px;
        line-height: 20px;
    }

    .line_title_threeF::before {
        content: '';
        width: 15px;
        position: absolute;
        height: 3px;
        background-color: #3482C6;
        margin-top: 67px;
    }

    .slider-buttons {
        display: none;
    }

    .equipment_to_title {
        display: none;
    }

    .equip {
        margin-top: 50px;
    }


    .accordion__content {
        padding-right: 250px;
        margin-left: -281px;
    }

    /* стили аккордеона */


    .accordion__icon {
        display: block;
    }

    .accordion__icon_adapt { 
        margin-right: 10px; transition: transform 0.3s ease-out; 
    } 


    .open .accordion__icon_adapt { 
        transform: rotate(180deg); 
    }
    
    .equipment_item_adapt {
        display: block;
        margin-top: 7px;
    }

    .equipment_item_price_adapt {
        display: inline-block;
        margin-top: 5px;
    }

    .equipment_item_new_adapt {
        display: inline-block;
    }

    .compl {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .equipment_item_credit_btn {
        margin-top: 23px;
    }

    .equipment_item, .accordion__icon_adapt{
        position: absolute;
        margin-top: 225px;
        margin-left: 140px;

    }

    .save, .design, .comfort {
        white-space: nowrap;
        font-size: 14px;
        line-height: 16px;
    }

    .save_title {
        white-space: nowrap;
    }

    .save {
        margin-left: 287px;
        padding-left: 17px;
        padding-right: 290px;
    }

    .equipment_title_two {
        display: block;
        margin-left: 10px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    .equipment_item_model {
        font-size: 18px;
        margin-right: 15px;
    }
    
    .equipment_item_old_price{
        font-size: 16px;
        margin-right: 15px;
    }

    .equipment_item_new_price {
        font-size: 18px;
        margin-right: 15px;
    }

    .equipment_item_new_adapt {
        margin-top: 9px;
    }

    .equipment_item_credit_price {
        margin-top: 20px;
        padding-left: 40px;
        white-space: nowrap;
    }

    .estimate_btn__js {
        margin-top: 40px;
        margin-left: 85px;
    }

    .slider_title_sale {
        margin-top: 40px;
        text-align: center;
    }

    .line_title_sale {
        content: '';
        position: absolute;
        width: 145px;
        height: 3px;
        left: 242px;
        background-color: #3482C6;
        margin-top: 51px;
    }

    .estimate {
        width: 314px;
        height: 520px;
        top: 258px;
        margin-left: 30px;
    }

    .news {
        overflow: hidden;
        margin-left: -30px;
        margin-top: 100px;
    }

    .line_title_news {
        width: 165px;
        margin-top: 15px;
        margin-left: -50px;
    }

    .line_title_feeaback {
        width: 103px;
        height: 3px;
        left: 274px;
        margin-top: 15px;
    }

    .slider-container_one {
        margin-top: -5px;
    }


    .popup_request__btn {
        margin-left: 279px;
    }

    .popup_request {
        margin-left: 45px;
    }

    .popup_cont {
        margin-top: -70px;
    }

    .field_est {
        margin-left: 25px;
    }

    .input__est, 
    .input__popup {
        width: 260px;
    }

    .input__est {
        height: 80px;
    }

    .popup_req__js {
        margin-top: 20px;
        margin-left: 55px;
    }

    .checkbox_popup {
        margin-top: 25px;
        margin-left: 45px;
    }

    .news__slider {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    
    .slider_title_news {
        font-family: 'TacticSans-Reg';
        src: url(../fonts/TacticSans-Reg.otf);
        text-transform: uppercase;
        margin-left: 80px;
    }


    .slider_title_feedback {
        font-family: 'TacticSans-Reg';
        src: url(../fonts/TacticSans-Reg.otf);
        text-transform: uppercase;
        margin-left: 150px;
        margin-bottom: 30px;
    }

    .news_title {
        font-size: 30px;
        line-height: 36px;
    }

    .news_container {
        margin-top: 40px;
    }

    .feedback {
        margin-left: -60px;
    }

    .feedback_title {
        font-size: 30px;
        line-height: 36px;
        margin-top: 1px;
    }
    .feedback_container {
        margin-left: 30px;
        
    }
}