<div class="container_site">
    <div class="slider-container_one">
    <div class="line_title_threeF"></div>
        <h2 class="slider_title_three">комфорт и опции</h2>
                <div class="swiper-container_one">
                    <div class="swiper-wrapper_one">
                        <div class="swiper-slide_one card_one"><img data-src="./static/images/Rectangle_fifty_six.png" src="#" alt="" class="img_slider_one swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div><p class="text_slide">Chery Tiggo 4 сочетает в себе классические формы кроссовера и 
                            современные дизайнерские решения. Правильные пропорции кузова позволяют получить подтянутый и 
                            
                            стремительный силуэт автомобиля сбоку, массивные фары с небольшим прищуром в совокупности с крупной решеткой радиатора, обилием хрома и 
                            
                            фальш-воздухозаборниками в нижней части бампера завершают основательный и солидный образ автомобиля. Задняя часть Tiggo 4 может похвастать крупными светодиодными
                            фонарями сложной ступенчатой формы, вместе с массивным бампером с раздвоенными решетками фальш-выхлопа, 
                            хромированными декоративными элементами и спойлером пятой двери задняя часть кроссовера имеет подтянутый,
    и, даже спортивный вид.</p></div>
                        <div class="swiper-slide_one card_one"><img data-src="./static/images/Rectangle_fifty_six.png" src="#" alt="" class="img_slider_one swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div><p class="text_slide">Chery Tiggo 4 сочетает в себе классические формы кроссовера и 
                            современные дизайнерские решения. Правильные пропорции кузова позволяют получить подтянутый и 
                            
                            стремительный силуэт автомобиля сбоку, массивные фары с небольшим прищуром в совокупности с крупной решеткой радиатора, обилием хрома и 
                            
                            фальш-воздухозаборниками в нижней части бампера завершают основательный и солидный образ автомобиля. Задняя часть Tiggo 4 может похвастать крупными светодиодными
                            фонарями сложной ступенчатой формы, вместе с массивным бампером с раздвоенными решетками фальш-выхлопа, 
                            хромированными декоративными элементами и спойлером пятой двери задняя часть кроссовера имеет подтянутый,
    и, даже спортивный вид.</p></div>
                        <div class="swiper-slide_one card_one"><img data-src="./static/images/Rectangle_fifty_six.png" src="#" alt="" class="img_slider_one swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div><p class="text_slide">Chery Tiggo 4 сочетает в себе классические формы кроссовера и 
                            современные дизайнерские решения. Правильные пропорции кузова позволяют получить подтянутый и 
                            
                            стремительный силуэт автомобиля сбоку, массивные фары с небольшим прищуром в совокупности с крупной решеткой радиатора, обилием хрома и 
                            
                            фальш-воздухозаборниками в нижней части бампера завершают основательный и солидный образ автомобиля. Задняя часть Tiggo 4 может похвастать крупными светодиодными
                            фонарями сложной ступенчатой формы, вместе с массивным бампером с раздвоенными решетками фальш-выхлопа, 
                            хромированными декоративными элементами и спойлером пятой двери задняя часть кроссовера имеет подтянутый,
    и, даже спортивный вид.</p></div>
                        <div class="swiper-slide_one card_one"><img data-src="./static/images/Rectangle_fifty_six.png" src="#" alt="" class="img_slider_one swiper-lazy"><div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div><p class="text_slide">Chery Tiggo 4 сочетает в себе классические формы кроссовера и 
                            современные дизайнерские решения. Правильные пропорции кузова позволяют получить подтянутый и 
                            
                            стремительный силуэт автомобиля сбоку, массивные фары с небольшим прищуром в совокупности с крупной решеткой радиатора, обилием хрома и 
                            
                            фальш-воздухозаборниками в нижней части бампера завершают основательный и солидный образ автомобиля. Задняя часть Tiggo 4 может похвастать крупными светодиодными
                            фонарями сложной ступенчатой формы, вместе с массивным бампером с раздвоенными решетками фальш-выхлопа, 
                            хромированными декоративными элементами и спойлером пятой двери задняя часть кроссовера имеет подтянутый,
    и, даже спортивный вид.</p></div>
                    </div>
                    <div class="swiper-pagination_one"></div>
                </div>
            </div>
        </div>