<div class="form_wrapper">
    <section class="form_traid-in">
        <h2 class="sub_title" id="calculator">
            Заявка на Trade-in
        </h2>
        <form class="traid-in_calc" action="mail.php" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="admin_mail[]" value="taur.game@gmail.com">
            <div class="field">
                <label for="calc__name" class="label__traid-in">Имя</label>
                <input type="text" id="calc__name" class="input__traid-in" data-validate-field="name__traid" placeholder="Ваше имя">
            </div>
            <div class="field__wrapper">
                <div class="field">
                    <label for="calc__phone" class="label__traid-in">Телефон</label>
                    <input type="tel" id="calc__phone" class="input__traid-in" data-validate-field="tel__traid" placeholder="Ваш телефон">
                </div>
                <div class="field">
                    <label for="input__manufacturer" class="label__traid-in">Марка</label>
                    <input type="text" id="input__manufacturer" class="input__traid-in" data-validate-field="man__traid" placeholder="Марка автомобиля">
                </div>
                <div class="field">
                    <label for="input_traid" class="label__traid-in">Модель</label>
                    <input type="text" id="input_traid" class="input__traid-in" data-validate-field="model__traid" placeholder="Модель автомобиля">
                </div>
            </div>
            <div class="checkbox">
                <input id="calc__personal__inf" type="checkbox" class="checkbox__input " checked value="Receipt" data-validate-field="traid__personal">
                <label for="calc__personal__inf" class="checkbox__label">Согласие на обработку ПД</label>
            </div>
            <button class="btn credit__btn open_thanks_js" type="submit">Отправить</button>
        </form>
    </section>
    <section class="credit_calc">
        <h2 class="sub_title" id="">
            Заявка на расчёт кредита
        </h2>
        <form class="credit_calc_wp" action="mail.php" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="admin_mail[]" value="taur.game@gmail.com">
            <div class="field">
                <label for="credit__name" class="label__traid-in">Имя</label>
                <input type="text" id="credit__name" class="input__traid-in" data-validate-field="credit__name" placeholder="Ваше имя">
            </div>
            <div class="field__wrapper">
                <div class="field">
                    <label for="credit__form__phone" class="label__traid-in">Телефон</label>
                    <input type="tel" id="credit__form__phone" class="input__traid-in" data-validate-field="tel__credit" placeholder="Ваш телефон">
                </div>
                <div class="field">
                    <label for="input__initial" class="label__traid-in">Первый взнос</label>
                    <input type="text" id="input__initial" class="input__traid-in" placeholder="Сумма первого взноса">
                </div>
                <div class="field">
                    <label for="credit__time" class="label__traid-in">Срок</label>
                    <input type="text" id="credit__time" class="input__traid-in" placeholder="Срок кредита">
                </div>
            </div>
            <div class="checkbox">
                <input id="credit__personal__inf" type="checkbox" class="checkbox__input " checked value="Receipt" data-validate-field="credit__personal">
                <label for="credit__personal__inf" class="checkbox__label">Согласие на обработку ПД</label>
            </div>
            <button class="btn traid__btn open_thanks_js" type="submit" >Отправить</button>
        </form>
    </section>
</div>
</section>
</div>