<div class="container_site">
    <section class="feedback">
            <div class="line_title_one">            
                <h2 class="slider_title_feedback">Отзывы</h2> 
            </div>
            <div class="slider-container_feedback">
                <div class="swiper-container_feedback">
                    <div class="swiper-wrapper_feedback">
                        <div class="swiper-slide_feedback">
                            <img data-src="./static/images/Rectangle_six_seven.png" src="#" class="swiper-lazy"  alt=""> <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                            <div class="feedback_head">
                            <div class="feedback_sub-title">
                                Роман Лесной
                            </div>
                            </div>
                                <p class="feedback_text">
                                    24 мая 2021 года компании Chery Automobile Co., Ltd. и iFlytek CO., LTD. подписали рамочное соглашение 
                                    об углублении стратегического взаимодействия в области разработки решений систем искусственного интеллекта 
                                    (ИИ) для серийных автомобилей, 
                                    совместной работе над беспилотными автомобилями и доведением их автономности до четвертого уровня.
                                </p>
                        </div>
                      <div class="swiper-slide_feedback">
                        <img data-src="./static/images/Rectangle_six_seven.png" src="#" class="swiper-lazy"  alt=""> <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                        <div class="feedback_head">
                            <div class="feedback_sub-title">
                                Роман Лесной
                            </div>
                        </div>
                            <p class="feedback_text">
                                24 мая 2021 года компании Chery Automobile Co., Ltd. и iFlytek CO., LTD. подписали рамочное соглашение 
                                об углублении стратегического взаимодействия в области разработки решений систем искусственного интеллекта 
                                (ИИ) для серийных автомобилей, 
                                совместной работе над беспилотными автомобилями и доведением их автономности до четвертого уровня.
                            </p>
                        </div>
                      <div class="swiper-slide_feedback">              
                        <img data-src="./static/images/Rectangle_six_seven.png" src="#" class="swiper-lazy"  alt=""> <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                        <div class="feedback_head">
                            <div class="feedback_sub-title">
                                Роман Лесной
                            </div>
                        </div>
                            <p class="feedback_text">
                                24 мая 2021 года компании Chery Automobile Co., Ltd. и iFlytek CO., LTD. подписали рамочное соглашение 
                                об углублении стратегического взаимодействия в области разработки решений систем искусственного интеллекта 
                                (ИИ) для серийных автомобилей, 
                                совместной работе над беспилотными автомобилями и доведением их автономности до четвертого уровня.
                            </p></div>
                    </div>
                  </div>
                </div>
    </section>
</div>