<div class="container_site">
    <section class="news">
        <div class="line_title_one">
            <div class="line_title_news"></div>
            <h2 class="slider_title_news">Новости</h2>
        </div>
        <div class="slider-container_news">
            <div class="swiper-container_news">
                <div class="swiper-wrapper_news">
                    <div class="swiper-slide_news">
                        <img data-src=".images/car.png" src="#" class="swiper-lazy" alt=""> <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
                        <div class="news_content">
                            <div class="news__sub__title">Chery и iFlytek углубили всестороннее
                                стратегическое сотрудничество</div>
                                <p class="news__cont">24 мая 2021 года компании Chery Automobile Co., Ltd. 
                                    и iFlytek CO., LTD. подписали рамочное соглашение об углублении 
                                    стратегического взаимодействия в области разработки решений систем 
                                    искусственного интеллекта (ИИ) для серийных автомобилей, совместной работе 
                                    над беспилотными автомобилями и доведением их автономности до четвертого 
                                    уровня.</p>
                            <a href="#">Читать больше</a>
                        </div>
                    </div>
                  <div class="swiper-slide_news">      
                    <img data-src="./static/images/car.png" src="#" class="swiper-lazy" alt=""> <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>                  
                      <div class="news_content">
                            <div class="news__sub__title">Chery и iFlytek углубили всестороннее
                                стратегическое сотрудничество</div>
                                <p class="news__cont">24 мая 2021 года компании Chery Automobile Co., Ltd. 
                                    и iFlytek CO., LTD. подписали рамочное соглашение об углублении 
                                    стратегического взаимодействия в области разработки решений систем 
                                    искусственного интеллекта (ИИ) для серийных автомобилей, совместной работе 
                                    над беспилотными автомобилями и доведением их автономности до четвертого 
                                    уровня.</p>
                            <a href="#">Читать больше</a>
                        </div>
                    </div>
                  <div class="swiper-slide_news">       
                    <img data-src="./static/images/car.png" src="#" class="swiper-lazy" alt=""> <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>                 
                      <div class="news_content">
                            <div class="news__sub__title">Chery и iFlytek углубили всестороннее
                                стратегическое сотрудничество</div>
                                <p class="news__cont">24 мая 2021 года компании Chery Automobile Co., Ltd. 
                                    и iFlytek CO., LTD. подписали рамочное соглашение об углублении 
                                    стратегического взаимодействия в области разработки решений систем 
                                    искусственного интеллекта (ИИ) для серийных автомобилей, совместной работе 
                                    над беспилотными автомобилями и доведением их автономности до четвертого 
                                    уровня.</p>
                            <a href="#">Читать больше</a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>